POSTGRES_USER=curios_prod
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=curios_prod
DATABASE_URL=postgres://curios_prod:CHANGE_ME@postgres:5432/curios_prod
PORT=4000
ORIGIN=https://mattic.dev
PUBLIC_API_URL=https://api.mattic.dev
