POSTGRES_USER=curios_staging
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=curios_staging
DATABASE_URL=postgres://curios_staging:CHANGE_ME@postgres:5432/curios_staging
PORT=4000
ORIGIN=https://staging.curios.mattic.dev
PUBLIC_API_URL=https://staging.curios.mattic.dev/api
